@import url("main.css");

.form {
  display: flex;
  flex-direction: column;
}

.form a {
  color: var(--hospital-green);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 5.2rem;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: .4rem;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: .8rem;
  height: 3rem;
  font-size: var(--md);
  padding: .6rem;
  margin-bottom: 1.2rem;
}

.input-email {
  margin-bottom: 2.2rem;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: .8rem;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 5rem;
}

.secondary-button {
  background-color: var(--white);
  border-radius: .8rem;
  border: .1rem solid var(--hospital-green);
  color: var(--hospital-green);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 5rem;
}

.login-button {
  margin-top: 1.4rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 640px){
  .logo {
    display: block;
  }
}