:root {
  --black:#000000;
  --white: #FFFFFF;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --dark: #232830;
  --hospital-green: #ACD9B2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.desktop-menu {
  width: 10rem;
  height: auto;
  border: .1rem solid var(--very-light-pink);
  padding: 2rem 2rem 0 2rem;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 2rem;
  border-top: .1rem solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 2rem;
  display: inline-block;
}