:root {
  --black:#000000;
  --white: #FFFFFF;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --dark: #232830;
  --hospital-green: #ACD9B2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.menu {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2.4rem;
  border-bottom: .1rem solid var(--very-light-pink);
}

.logo {
  width: 10rem;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 6rem;
}

.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 1.2rem;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: .1rem solid var(--white);
  padding: .8rem;
  border-radius: .8rem;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: .1 solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 1.2rem;
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -.6rem;
  right: -.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-email img {
  margin-left: 1rem;
  transform: rotate(90deg);
}

@media screen and (max-width: 640px){
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }
}
