@import url("main.css");

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}

.email-image {
  width: 13.2rem;
  height: 13.2rem;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
}

.email-image img {
  width: 8rem;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: .8rem;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 5rem;
}

.login-button {
  margin-top: 1.4rem;
  margin-bottom: 3rem;
}

.resend {
  font-size: var(--sm);
}

.resend span {
  color: var(--very-light-pink);
}

.resend a {
  color: var(--hospital-green);
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .logo {
    display: block;
  }
}